[Desktop Entry]
Name=Watermark App
Name[fr]=Filigrane App
Comment=An application to add watermarks to images
Comment[fr]=Application pour ajouter des filigranes sur des images
Comment[es]=Aplicación para añadir marcas de agua a imágenes
Comment[ru]=Добавление водяных знаков на изображения
Comment[nl]=Applicatie om watermerken aan afbeeldingen toe te voegen
Exec=watermark_app
Icon=io.github.aginies.watermark
Terminal=false
Type=Application
Categories=Utility;Graphics;
